/* ---------------------------- */
/*    Propriétés générales      */
/* ---------------------------- */

* {
  box-sizing: border-box;
}
body {
  font-family: arial;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #333;
  background-color: #d3f6fa;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.txt-center{text-align: center;}



/* ---------------------------- */
/*            Header            */
/* ---------------------------- */

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

h1 {margin: 0.5em 0;}
h2 {margin-top: 0;}

nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 0.5rem;
}
nav a, .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: #0c53aa;
  color: #fff;
  border: 1px solid rgb(0, 21, 92);
  transition: background-color 0.5s;
}

nav a:hover, .btn:hover {
  background-color: #031934;
}

/* ---------------------------------------- */
/*    Contenus / Composantes graphiques     */
/* ---------------------------------------- */

main,
aside,
footer {
  padding: 1.5rem;
}

footer {
  color: white;
  background-color: #000b60;
}

footer a{color: aliceblue;}

.boite-contenu, 
.liste-img li{
  border: 1px solid rgb(136, 194, 233);
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.liste-img{
  padding: 0;
  list-style-type: none;
}

.liste-cartes{
  padding: 0;
  list-style-type: none;
}

/* Le symbôle " > " (sélecteur d'enfant direct) 
informe que la règle de style s'applique 
au li qui sont enfants directs de liste-carte */
.liste-cartes > li{
  background-color: white;
  box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.65) ;
  padding: 25px;
}

section > section{
  padding-bottom: 40px;
  border-bottom: 10px solid rgb(143, 219, 220);
  margin-bottom: 40px;
}

/* ------------------------------- */
/*    Positionnement avec grid     */
/* ------------------------------- */

/* Image fluide (responsive) */
img{max-width: 100%;}

.grid-1fr-2fr-1fr, .liste-cartes{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

.grid-1fr-2fr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 30px;  
}


.grid-4-col{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.span-2x2{
  grid-column: span 2;
  grid-row: span 2;
}

.grid-4-col li{
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-beigne{
  grid-row: 4;
  grid-column: 2;
}
#img-pizza{
  grid-row: 4;
  grid-column: 4;
}
#img-boisson{
  grid-column: 3;
}


